body {

  color: green;
}

#warriorchar {
  display: none;
}

#wizardchar {
  display: none;
}

#gameOver {
  display: none;
}

 .bg {
  background-image: url('https://cdn.theatlantic.com/assets/media/img/photo/2018/11/2018-national-geographic-photo-cont/n10_177694712953351/main_900.jpg?1542139084');

  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
} 

#warriorchar img {
  height: 500px;
  width: 450px;
  float: left;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 8px;
}

#wizardchar img {
  height: 450px;
  width: 550px;
  float: left;
}

#shop2 img {
  height: 30px;
  width: 40px;
}

#shop1 img {
  height: 1px;
  width: 1px;
}